
.bs-header{
	padding: 65px 40px 40px;
}


.search-query{
	width:100%;
	margin:10px 0px;
}

.gecko_thumbnail  {
	padding: @box-spacing-medium;
	-webkit-box-shadow: @box-shadow;
	-moz-box-shadow: @box-shadow;
	box-shadow: @box-shadow;
	border: 1px solid @basic-gray-dark;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 15px;
	width:250px;
}
.gecko_thumbnail img{
	width:100%;
}

.gecko_detail{
	margin-top:30px;
}
@media all and (min-width: @screen-sm){
	.gecko_detail{
		margin-left:30px;
		margin-top:60px;
	}
}

.gecko-add{
	padding: 0px 10px 15px;
	color:darken(@basic-gray-dark, 15%); 
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.gecho-icons{
	float:right;
	padding-right: 10px;
	color:@brand-primary;
}
.gecho-icons span{
	margin-left: 10px;	
	cursor: pointer;
}

.list-group li:hover {
    background-color: @basic-gray-dark;
}


.list-group .active{
	background-color: @brand-success!important;
	color: white;
}
.list-group .active span{
	color: white;
}
.list-group a{
	padding-rigth: 50px;
	text-overflow: ellipsis;
}
.gecko_detail{
	color:@brand-primary;
}
.gecko-form{
	margin-top:25px;
}
.gecko-form input{
	width:60%;
	min-width:280px;
}
.gecko-form label{
	padding: 10px;
	min-width: 100px;
}

