//
// Variables
// --------------------------------------------------
// Global values
// --------------------------------------------------
// Shadow
@box-logo-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .1);
@box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1); 
@box-top-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .1);
@box-bottom-shadow: 0px -3px 5px 0px rgba(0, 0, 0, .1);
@box-dark-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .6); 
@box-link-shadow: 0px 0px 5px 0px rgba(52, 104, 151, .1); 

// icons

@icon-font-path:          "../lib/bootstrap/fonts/";

// Txt
@txt-light-color: #fff;
@txt-dark-color: #333;
// Spacing
@box-spacing-small: 5px;
@box-spacing-medium: 10px;
@box-spacing-large: 15px;
@box-spacing-extra: 20px;
@box-vertical-spacing-small: 5px 0;
@box-vertical-spacing-medium: 10px 0;
@box-vertical-spacing-large: 15px 0;
@box-horizontal-spacing-small: 0 5px;
@box-horizontal-spacing-medium: 0 10px;
@box-horizontal-spacing-large: 0 15px;
// Border
@border-style: 1px dotted #dbdbdb;
// Corner
@corner_round: 3px;
@corner_left_round: 3px 0 0 3px;
@corner_right_round: 0 3px 3px 0;

// Colors
@basic-gray-light: #f5f5f5;
@basic-gray-dark: #ededed;

// Brand colors
// -------------------------

@brand-primary:         #346897;
@brand-success:         #7fba00;
@brand-warning:         #ffca00;
@brand-danger:          #a91800;
@brand-info:            #7fba00;


// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif:  Tahoma, Geneva, sans-serif;
@font-family-serif:       "DejaVu Serif", Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          13px;
@font-size-extralarge:    ceil(@font-size-base * 1.69); // ~22px
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-medium:  	  ceil(@font-size-base * 1.23); // ~16px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px
@font-size-smallest: 	  ceil(@font-size-base * 0.84); // ~11px


@screen-sm:                  720px;
@screen-md:                  720px;
@screen-lg:                  4500px;


